@import '../variables.scss';

.play-button {
    height: 14vmin;
    width: 14vmin;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-size: 6vh;
    margin: 0 0.25em 0 0.25em;
}

.preview-player {
    clip-path: circle(28%);
	border: none;
	padding: 0;
	cursor: pointer;
}