$sans-serif-font: Arial;
$serif-font: Georgia;

$yellow-color: hsla(48,96%,66%, 1);
$violet-color: hsla(258,55%,50%, 1);
$green-color: hsla(175,39%,44%, 1);
$pink-color: hsla(331,82%,59%, 1);


body {
    margin: 0;
    padding: 0;
}
