@import 'variables.scss';

.home-container{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    gap: 0px 0px;
    grid-template-areas:
      ". . . . ."
      ". . . . ."
      ". . logo . ."
      ". . . . ."
      ". signup . login .";
    max-height: 100vmin;
}

.logoPer{
    grid-area: logo;
    height: 15vmin;
    justify-self: center;
    align-self: center;
}

.navSign{
    grid-area: signup; 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    text-align: center;
    text-decoration: none;
    height: 0;
}

.navLog{
    grid-area: login; 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    text-align: center;
    text-decoration: none;
    height: 0;
}

.btnLog{
    background-color: $green-color;
    color: whitesmoke;
    height: 12vmin;
    width: 12vmin;
    border-radius: 50%;
    font-family: $sans-serif-font;
    font-weight: 700;
    font-size: 2vmin;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 0 0 hsla(175,39%,44%, 1);
    animation: pulsyG 2s infinite;
}

.btnSign{
    background-color: $pink-color;
    color: whitesmoke;
    height: 12vmin;
    width: 12vmin;
    border-radius: 50%;
    font-family: $sans-serif-font;
    font-weight: 700;
    font-size: 2vmin;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 0 0 hsla(331,82%,59%, 1);
    animation: pulsyP 2s infinite;
}

.btnLog:hover{
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}
.btnSign:hover{
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}
