@import 'variables.scss';


.screen-container {
    display: grid;
    grid-template-columns: 14vw 14vw 14vw 14vw 14vw 14vw 14vw;
    grid-template-rows: 14vh 14vh 14vh 14vh 14vh 14vh 14vh;
    gap: 0px 0px;
    grid-template-areas:
      ". personality values . projet pPdf . "
      ". ambition A . B pImg . "
      ". . candidate-name candidate-photo . . . "
      ". hard-skills C . D lastJob . "
      ". strength soft-skills diplome langues training . "
      ;
      margin-top: 10vh;
    .bubble-text, .bubble-text-flat {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 14vmin;
        width: 14vmin;
        border-radius: 50%;
        font-family: roboto;
        font-weight: 700;
        font-size: 1.2vw;
    }
    .button{
        height: 14vmin;
        width: 14vmin;
        border-radius: 50%;
        cursor: pointer;
    }

    .candidate-name {
        grid-area: candidate-name;
        background-color: $violet-color;
        color: whitesmoke;
        position: relative;
        left: 10vw;
        bottom: 1.15vw;
        z-index: 1;
    }
    .candidate-photo {
        grid-area: candidate-photo;
        width: 20vw;
        clip-path: circle(34%);
        justify-self: center;
        align-self: center;
    }
    .soft-skills {
        grid-area: soft-skills; 
        background-color: $green-color;
        justify-self: start;
        align-self: start;
    }
    .hard-skills {
        grid-area: hard-skills; 
        background-color: $violet-color;
        justify-self: end;
        align-self: end;
    }
    .values {
        grid-area: values; 
        background-color: $violet-color;
        justify-self: start;
        align-self: end;
    }
    .ambition {
        grid-area: ambition;
        background-color: $yellow-color;
        justify-self: end;
        align-self: flex-start;
    }
    .projet {
        grid-area: projet; 
        background-color: $pink-color;
        justify-self: end;
        align-self: end;
    }
    .personality {
        grid-area: personality; 
        background-color: $green-color;
        justify-self: center;
        align-self: end;
        border: none;
        font-size: 6vh;

    }
    .strength {
        grid-area: strength; 
        background-color: $pink-color;
        justify-self: start;
        align-self: center;
    }
    .training {
        grid-area: training; 
        background-color: $green-color;
        justify-self: end;
        align-self: end;
    }
    .langues {
        grid-area: langues; 
        background-color: $yellow-color;
        justify-self: end;
        align-self: start;
    }
    .lastJob {
        grid-area: lastJob; 
        background-color: $violet-color;
        justify-self: start;
        align-self: end;
    }
    .diplome {
        grid-area: diplome; 
        background-color: $pink-color;
        justify-self: end;
        align-self: center;
    }
    .projetPdf{
        grid-area: pPdf; 
        background-color: $green-color;
        justify-self: end;
        align-self: start;
    }
    .projetImg{
        grid-area: pImg; 
        background-color: $yellow-color;
        justify-self: start;
        align-self: start;
    }
    .bubble-text:hover {
        transform: scale(2);
        transition: 0.3s;
        z-index: 1;
    }
    .bubble-text:hover span {
        display: none;
    }
    .bubble-text:hover:before {
        font-size: 0.8vw;
        text-align: center;
        transition: 0.3s;
        white-space: pre-wrap;
    }
    .bubble-text.soft-skills:hover:before {
        content: "Creativity \A Empathy \A Responsibility \A Sociability";
    }
    .bubble-text.hard-skills:hover:before {
        content: "Languages \A React programing \A Marketing skills";
    }
    .bubble-text.values:hover:before {
        content: "Respect \A Courage \A Rigor";
    }
    .bubble-text.ambition:hover:before {
        /*content: url("../pictures/44yrold.jpg");
        clip-path: circle(30%);
        transform: scale(0.4);*/
        content: "Learn german \A Manage a team \A Become more efficient";
    }
    .bubble-text.axis-of-progression:hover:before {
        content: "Level in english \A Priority gestion \A PHP programing";
    }
    .bubble-text.personality:hover:before {
        content: "Curiosity \A Energy \A Modesty";
    }
    .bubble-text.strength:hover:before {
        content: "Autonomous \A Meticulous \A Persevering";
    }
    .bubble-text.state-of-mind:hover:before {
        content: "Positive \A Ambitious \A Believe in myself";
    }
}

.btnWho{
    grid-area: A; 
    background-color: $pink-color;
    color: whitesmoke;
    height: 17vmin;
    width: 17vmin;
    border-radius: 50%;
    font-family: roboto;
    font-weight: 700;
    font-size: 1.5vw;
    cursor: pointer;
    border: none;
    animation: pulsyP 2s infinite;
    justify-self: end;
    align-self: end;
}
.btnPop{
    grid-area: B; 
    background-color: $violet-color;
    color: whitesmoke;
    height: 17vmin;
    width: 17vmin;
    border-radius: 50%;
    font-family: roboto;
    font-weight: 700;
    font-size: 1.5vw;
    cursor: pointer;
    border: none;
    animation: pulsy 2s infinite;
    justify-self: start;
    align-self: end;
}
.btnStrength{
    grid-area: C; 
    background-color: $yellow-color;
    color: whitesmoke;
    height: 17vmin;
    width: 17vmin;
    border-radius: 50%;
    font-family: roboto;
    font-weight: 700;
    font-size: 1.5vw;
    cursor: pointer;
    border: none;
    animation: pulsyY 2s infinite;
    justify-self: end;
    align-self: flex-start;
}
.btnWhat{
    grid-area: D; 
    background-color: $green-color;
    color: whitesmoke;
    height: 17vmin;
    width: 17vmin;
    border-radius: 50%;
    font-family: roboto;
    font-weight: 700;
    font-size: 1.5vw;
    cursor: pointer;
    border: none;
    animation: pulsyG 2s infinite;
}