@import 'variables.scss';

.screen-container {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    gap: 0px 0px;
    grid-template-areas:
      "personality-logo soft-skills . personality ."
      ". hard-skills candidate-name . values"
      ". . candidate-photo . ."
      "state-of-mind . . ambition ."
      ". axis-of-progression . . strength";
    .bubble-text, .bubble-text-flat {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 9vw;
        width: 9vw;
        border-radius: 50%;
        font-family: roboto;
        font-weight: 700;
        font-size: 1.5vw;
        margin: 1.5vw;
    }
    .personality-logo {
        grid-area: personality-logo;
        height: 5vw;
        margin: 2vw;
    }
    .candidate-name {
        grid-area: candidate-name;
        background-color: $violet-color;
        color: whitesmoke;
        position: relative;
        top: 10vh;
        z-index: 1;
    }
    .candidate-photo {
        grid-area: candidate-photo;
        width: 25vw;
        clip-path: circle(34%);
    }
    .soft-skills {
        grid-area: soft-skills; 
        background-color: $yellow-color;
        position: relative;
        left: 10vh;
    }
    .hard-skills {
        grid-area: hard-skills; 
        background-color: $green-color;
        position: relative;
        right: 10vh;
    }
    .values {
        grid-area: values; 
        background-color: $green-color;
    }
    .ambition {
        grid-area: ambition;
        background-color: $yellow-color;
        position: relative;
        left: 10vh;
    }
    .axis-of-progression {
        grid-area: axis-of-progression; 
        background-color: $pink-color;
        position: relative;
        bottom: 10vh;
    }
    .personality {
        grid-area: personality; 
        background-color: $pink-color;
        position: relative;
        top: 10vh;
    }
    .strength {
        grid-area: strength; 
        background-color: $green-color;
        position: relative;
        bottom: 10vh;
        left: 10vh;
    }
    .state-of-mind {
        grid-area: state-of-mind; 
        background-color: $yellow-color;
        position: relative;
        bottom: 10vh;
        left: 10vh;
    }
    .bubble-text:hover {
        transform: scale(2);
        transition: 0.3s;
        z-index: 1;
    }
    .bubble-text:hover span {
        display: none;
    }
    .bubble-text:hover:before {
        font-size: 1vw;
        text-align: center;
        transition: 0.3s;
        white-space: pre-wrap;
    }
    .bubble-text.soft-skills:hover:before {
        content: "Creativity \A Empathy \A Responsibility \A Sociability";
    }
    .bubble-text.hard-skills:hover:before {
        content: "Languages \A React programing \A Marketing skills";
    }
    .bubble-text.values:hover:before {
        content: "Respect \A Courage \A Rigor";
    }
    .bubble-text.ambition:hover:before {
        /*content: url("../pictures/44yrold.jpg");
        clip-path: circle(30%);
        transform: scale(0.4);*/
        content: "Learn german \A Manage a team \A Become more efficient";
    }
    .bubble-text.axis-of-progression:hover:before {
        content: "Level in english \A Priority gestion \A PHP programing";
    }
    .bubble-text.personality:hover:before {
        content: "Curiosity \A Energy \A Modesty";
    }
    .bubble-text.strength:hover:before {
        content: "Autonomous \A Meticulous \A Persevering";
    }
    .bubble-text.state-of-mind:hover:before {
        content: "Positive \A Ambitious \A Believe in myself";
    }
}
